<form action="/urls/<%= action %>" method="<%= method %>" class="<%= className %>">
  <label for="longUrl">
    URL:
  </label>
  <input id="longUrl" type="text" name="longUrl" value="http://www.">
  <input type="submit" value="<%= value %>">
</form>