
<div class="navbar">
  <H1 class="main-heading">
    <a href="/">
      Earl Shortener
    </a>
  </H1>
  <div class="nav-links">
    <% if (user.user_id) { %>
      <a href="/urls/new">Create</a>
      <a href="/urls">Manage</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a class="nav-links-login" href="/login">Login</a>
      <a class="nav-links-regsiter" href="/register">Register</a>
    <% } %>
  </div>
</div>