
<div class="sidebar">
  <H1>Tiny Times</H1>
  <% if (user.user_id) { %>
    <a href="/logout">Logout</a>
    <a href="/urls">Index</a>
    <a href="/urls/new">Create New Link</a>
  <% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <% } %>
</div>