<form action="<%= action %>" method="POST" class="<%= className %>">
  <% if(userName) {  %>
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="Username">
  <% } %>
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" placeholder="Email">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" placeholder="Password">
  <div class="button">
    <input type="submit" value="<%= value %>">
  </div>
</form>