<!DOCTYPE <!DOCTYPE html>
<html>
  <%- include('partials/_head', {
    title: 'Home'
  }) %>
  <body>
    <% include partials/_header %>
    <main class="main-welcome">
      <h2>Hello!</h2>
      <div class="main-welcome-message">welcome to your url shortener. <a href="/register">make a new account</a> or <a href="/login">login to your existing account.</a> whatever, yo. you do you.</div>
    </main>
  </body>
</html>