<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('partials/_head', {
      title: 'Login'
    }) %>
  <body>
    <% include partials/_header %>
    <main>
      <h2>Login</h2>
  
      <%- include('partials/_user', {
        action: '/login',
        className: 'form-login',
        value: 'Login',
        userName: false
      }) %>
    </main>
  </body>
</html>