<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('partials/_head', {
      title: 'Register'
    }) %>
  <body>
    <% include partials/_header %>
    <main>
      <h2>Register</h2>
  
      <%- include('partials/_user', {
        action: '/register',
        className: 'form-register',
        value: 'Register',
        userName: true
      }) %>
    </main>
  
  </body>
</html>