<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('partials/_head', {
      title: 'Update Url'
    }) %>
  <body>
    <% include partials/_header %>

    <main>
      Updating the url <%= url.long_url %>. Please enter a new url to redirect to:
      <%- include('partials/_form', {
        action: url.short_url,
        method: 'POST',
        value: 'Change',
        className: 'form-update'
      }) %>
    </main>
  </body>
</html>