<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('partials/_head', {
      title: 'Create New Url'
    }) %>
  <body>
    <% include partials/_header %>
    <main>
      <div class="new-url-wrapper">
        <%- include('partials/_form', {
          action: '',
          method: 'POST',
          value: 'Create',
          className: 'form-new'
        }) %>
      </div>
    </main>
    
  </body>
</html>